@charset "UTF-8";
* {margin: 0px; padding: 0px; box-sizing: border-box;}

body { 
	background-image: url("img/vialactea.jpg");
	text-align: justify;
	font-family: arial, verdana, tahoma;
	font-size: 18pt;
	color:white;
	overflow: hidden;
}

header#cabecera {
	border: 2px solid red;
	height: 10vh;
}

div#menu {
	float: left;
	width: 15vw;
	height: 85vh;
	border: 2px solid red;

}

div#menu a {
	display: block;
	height: 8vh;
	padding-top: 2vh; 
	text-decoration: none; 
	color: #78eedd;
		
}

div#contenido {
	margin-left: 15vw;
	width: 85vw;
	height: 85vh;
	border: 2px solid red;
}

#marco {
	width: 100%;
	height: 100%;
	overflow-y: visible;
	border: 0px;
}

footer#pie {
	height: 5vh;
	border: 2px solid red;
	text-align: center;
	color: #78eedd;
}