body {
	text-align: justify; 
	font-family: arial, verdana, tahoma; 
	font-size: 15pt; 
	color: white;
}

img { 
	padding-right: 10px; 
	width: 45%; height: 45%; 
	float: left;
    transition: width 1.5s ease-in-out;
}

img:hover {
   width: 60vw;
}