@charset "UTF-8";
* {margin: 0px; padding: 0px; box-sizing: border-box;}

body {
	background-image: url("imagenes/fondos/fondoEstrellado.png");
	text-align: justify;
	color: white;
}

#cabecera {
	height: 25vh;
	background-image: url("imagenes/fondos/ssolar.png");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

header#cabecera h1 {
	padding-top: 10vh;
	text-decoration: underline;
	font-size: 40px
}

div#menu {
	float: left;
	width: 15vw;
	height: 65vh;
}

div#menu a{
	display: block;
	width: 100%;
	color: blue;
	text-align: center;
	text-decoration: none;
	padding: 2vh;
	background-image: url("imagenes/botones/botonNormal.png");
	font-size:20px; 
}

div#menu a:hover {
	background-image: url("imagenes/botones/botonHover.png");
	text-decoration: underline;
}

div#menu a:active {
	background-image: url("imagenes/botones/botonClick.png"); 
	text-decoration: underline;
	color:black;
}

main#contenido {
	margin-left: 15vw;
	width: 85vw;
	height: 65vh;
}

#marco{
	width: 100%;
	height: 100%;
	overflow-y: visible;
	border: 0px;
}

footer#pie p{
	clear: both;
	font-size: 15pt;
	padding-top: 6vh;
	padding-bottom: 0vh;
	text-align: right;
	color: yellow;
}